@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
.bg-shadow, .sec-content, #statistics .blur, #feedback .blur, .feedback-cont-wrapper, #footer .blur {
  padding: 5% 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  margin: 0;
}

body * {
  font-family: 'Open Sans', sans-serif;
  color: white;
}

body *::-moz-selection {
  background-color: #DA8A46;
  color: #B7582A;
}

body *::selection {
  background-color: #DA8A46;
  color: #B7582A;
}

header {
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #B7582A;
}

header img {
  width: 90px;
}

header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header a {
  text-decoration: none !important;
}

header .nav-item {
  font-size: 14px;
  font-weight: 500;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  cursor: pointer;
}

header .nav-item:hover {
  color: #DA8A46;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.slider--item {
  cursor: pointer;
}

#hero {
  background-image: url("../images/hero.jpg");
  background-size: cover;
  height: 90vh;
}

.bg-shadow {
  height: 100%;
  padding: 0 15%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-animation: logoSlideRight 1.5s steps(50);
          animation: logoSlideRight 1.5s steps(50);
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.hero-wrapper .logo {
  font-size: 64px;
  font-weight: 900;
}

.hero-wrapper .logo span {
  color: #B7582A;
}

.hero-wrapper .desc {
  margin-left: 5px;
  font-size: 32px;
  font-weight: 300;
  opacity: .8;
}

.hero-wrapper .button-wrapper {
  margin: 50px 5px;
}

.hero-wrapper .button-wrapper button {
  background-color: #B7582A;
  padding: 15px 40px;
  border-radius: 100px;
  border: 1px solid #B7582A;
  font-size: 16px;
  font-weight: 400;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
}

.hero-wrapper .button-wrapper button:hover {
  color: #B7582A;
  background-color: transparent;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

@-webkit-keyframes logoSlideRight {
  0% {
    position: absolute;
    left: -1000px;
  }
  50% {
    left: 15%;
  }
  100% {
    position: static;
  }
}

@keyframes logoSlideRight {
  0% {
    position: absolute;
    left: -1000px;
  }
  50% {
    left: 15%;
  }
  100% {
    position: static;
  }
}

.sec-title {
  width: 15%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #B7582A;
}

.sec-title span {
  font-size: 24px;
  font-weight: 600;
}

.sec-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
}

.sec-title-wrapper .triangle {
  border-style: solid;
  border-width: 100px 70px 0 0;
  border-color: #B7582A transparent transparent transparent;
}

.about-cont-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-cont-wrapper .slider-wrapper {
  width: 600px;
}

.about-cont-wrapper .slider-wrapper .slider--item {
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 600px;
}

.about-cont-wrapper .slider-wrapper .slider--item div {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-cont-wrapper .slider-wrapper .slider--item img {
  width: 100%;
  vertical-align: middle;
}

.about-cont-wrapper .txt-block {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-cont-wrapper .txt-block span {
  color: #B7582A;
  font-size: 20px;
  font-weight: 600;
}

.about-cont-wrapper .txt-block p {
  font-size: 16px;
  font-weight: 300;
  color: #241B1C;
}

.about-cont-wrapper .txt-block .button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.about-cont-wrapper .txt-block .button-wrapper button {
  background-color: #B7582A;
  padding: 15px 40px;
  border-radius: 100px;
  border: 1px solid #B7582A;
  font-size: 16px;
  font-weight: 400;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
}

.about-cont-wrapper .txt-block .button-wrapper button:hover {
  color: #B7582A;
  background-color: transparent;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

#statistics {
  background-image: url("../images/marat.png");
}

#statistics .blur {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.stat-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.stat-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stat-item span {
  font-size: 48px;
  font-weight: 600;
  color: #fff;
}

.stat-desc {
  font-size: 20px !important;
  color: #B7582A !important;
}

.stat-add {
  color: #B7582A !important;
}

.stat-value-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scnd-about-cont-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scnd-about-cont-wrapper .slider-wrapper {
  width: 100%;
}

.scnd-about-cont-wrapper .slider-wrapper .slider--item {
  margin: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.scnd-about-cont-wrapper .slider-wrapper .slider--item img {
  width: 400px;
}

#courses {
  background-color: #DA8A46;
}

.courses-nav {
  margin-left: 3%;
}

.content-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #B7582A;
  border-radius: 10px;
  padding: 50px;
}

.courses-nav-item {
  background: #B7582A;
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: x-large;
  padding: 10px 30px;
  opacity: .75;
}

.active-nav-item {
  background: #B7582A !important;
  opacity: 1 !important;
}

.ds-none {
  display: none !important;
}

.courses-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.courses-item {
  width: 20%;
  margin: 20px;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  background: transparent;
  border: 3px solid #DA8A46;
}

.courses-item .item-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.courses-item .item-title-wrapper span:last-child {
  font-size: 16px;
  font-weight: 300;
}

.courses-item .item-title {
  font-size: 24px;
  font-weight: 500;
}

.courses-item .item-price {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.courses-item .item-price > span:last-child {
  color: #DA8A46;
}

.courses-item .item-price :first-child {
  font-size: 46px;
}

.courses-item .item-include {
  font-size: 14px;
  font-weight: 400;
}

.courses-item .item-include div {
  list-style-type: none;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.courses-item .item-include div img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin-right: 5px;
}

.courses-item .item-include div:first-child {
  margin-top: 0;
}

.courses-item .more-info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.courses-item .more-info button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #DA8A46;
  padding: 15px 30px;
  border-radius: 100px;
  border: 1px solid #DA8A46;
  font-size: 16px;
  font-weight: 400;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
}

.courses-item .more-info button:hover {
  color: #DA8A46;
  background-color: transparent;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

#item-2-cont #courses-item-3 {
  visibility: hidden;
}

#item-3-cont #courses-item-2 {
  visibility: hidden;
}

#item-3-cont #courses-item-3 {
  visibility: hidden;
}

.it-club-cont-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.it-club-cont-wrapper .txt-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.it-club-cont-wrapper .txt-block span {
  color: #B7582A;
  font-size: 20px;
  font-weight: 600;
}

.it-club-cont-wrapper .txt-block p {
  font-size: 16px;
  font-weight: 300;
  color: #241B1C;
}

.it-club-cont-wrapper .club-item {
  height: 40vh;
  margin: 10vh 0;
}

.it-club-cont-wrapper .club-item > img {
  width: 40vh;
}

.it-club-cont-wrapper .it-club-left-wrapper :first-child {
  margin-top: 0 !important;
}

.it-club-cont-wrapper .it-club-left-wrapper :last-child {
  margin-bottom: 0 !important;
}

.it-club-cont-wrapper .it-club-right-wrapper :first-child {
  margin-top: 0 !important;
}

.it-club-cont-wrapper .it-club-right-wrapper :last-child {
  margin-bottom: 0 !important;
}

.it-club-left-wrapper, .it-club-right-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 45%;
}

.it-club-left-wrapper * {
  text-align: right;
}

.it-club-line-wrapper {
  width: 10%;
  height: 170vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.it-club-line-wrapper img {
  height: 125vh;
}

.it-club-right-wrapper * {
  text-align: left;
}

.txt-block-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.club-left-slider .slider--item {
  margin: 0 20px;
}

.club-left-slider .slider--item .item-wrapper {
  background-image: url("../images/marat.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 40vh;
  width: 100%;
}

.club-left-slider .slider--item .item-desc {
  background-image: url("../images/club-right-slider-txt.png");
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 40%;
  width: 100%;
}

.club-left-slider .slider--item .item-desc .title {
  font-size: 20px;
  font-weight: 700;
}

.club-left-slider .slider--item .item-desc :last-child {
  font-size: 16px;
  font-weight: 400;
}

.club-right-slider .slider--item {
  margin: 0 20px;
}

.club-right-slider .slider--item .item-wrapper {
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 40vh;
  width: 100%;
}

.club-right-slider .slider--item .item-desc {
  background-image: url("../images/club-left-slider-txt.png");
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 30%;
  width: 100%;
}

.club-right-slider .slider--item .item-desc .title {
  font-size: 20px;
  font-weight: 700;
}

.club-right-slider .slider--item .item-desc :last-child {
  font-size: 16px;
  font-weight: 400;
}

.club-right-slider #ilya .item-wrapper {
  background-image: url("../images/ilya.png");
}

.club-right-slider #dmitriy .item-wrapper {
  background-image: url("../images/dmitriy.jpg");
}

.it-club-link .txt-block .button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5px;
}

.it-club-link .txt-block .button-wrapper button {
  background-color: #B7582A;
  padding: 15px 40px;
  border-radius: 100px;
  border: 1px solid #B7582A;
  font-size: 16px;
  font-weight: 400;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
}

.it-club-link .txt-block .button-wrapper button:hover {
  color: #B7582A;
  background-color: transparent;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

#mobile-it-club {
  display: none;
}

#mobile-it-club .it-club-cont-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mobile-it-club .it-club-cont-wrapper .club-item {
  height: auto;
  width: 100%;
  margin: 5vh 0 !important;
}

#mobile-it-club .club-image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-club-right-slider .slider--item {
  margin: 0 20px;
}

.mobile-club-right-slider .slider--item .item-wrapper {
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 40vh;
  width: 100%;
}

.mobile-club-right-slider .slider--item .item-desc {
  background-image: url("../images/club-left-slider-txt.png");
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 30%;
  width: 100%;
}

.mobile-club-right-slider .slider--item .item-desc .title {
  font-size: 20px;
  font-weight: 700;
}

.mobile-club-right-slider .slider--item .item-desc :last-child {
  font-size: 16px;
  font-weight: 400;
}

.mobile-club-right-slider #ilya .item-wrapper {
  background-image: url("../images/ilya.png");
}

.mobile-club-right-slider #dmitriy .item-wrapper {
  background-image: url("../images/dmitriy.jpg");
}

.mobile-club-left-slider .slider--item {
  margin: 0 20px;
}

.mobile-club-left-slider .slider--item .item-wrapper {
  background-image: url("../images/marat.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 40vh;
  width: 100%;
}

.mobile-club-left-slider .slider--item .item-desc {
  background-image: url("../images/club-left-slider-txt.png");
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 40%;
  width: 100%;
}

.mobile-club-left-slider .slider--item .item-desc .title {
  font-size: 20px;
  font-weight: 700;
}

.mobile-club-left-slider .slider--item .item-desc :last-child {
  font-size: 16px;
  font-weight: 400;
}

#feedback {
  background-image: url("../images/feedback-banner.jpg");
  background-size: cover;
  background-position: center;
}

#feedback .blur {
  padding: 0 !important;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.feedback-cont-wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback-slider-wrapper {
  width: 90%;
}

.feedback-slider .slider--item {
  margin: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedback-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border-radius: 20px;
  border: 5px solid #B7582A;
  background-color: rgba(0, 0, 0, 0.25);
}

.feedback-item-wrapper img {
  width: 150px;
  height: 150px;
  border: 2px solid #B7582A;
  border-radius: 100px;
}

.feedback-item-wrapper span {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.feedback-item-wrapper .h-line {
  width: 80%;
  height: 5px;
  background-color: #B7582A;
  border-radius: 20px;
}

.feedback-item-wrapper p {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.contacts-cont-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-cont-wrapper .contacts-txt-content {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-cont-wrapper .contacts-txt-content .txt-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}

.contacts-cont-wrapper .contacts-txt-content .txt-block span {
  color: #B7582A;
  font-size: 20px;
  font-weight: 600;
}

.contacts-cont-wrapper .contacts-txt-content .txt-block p {
  font-size: 16px;
  font-weight: 300;
  color: #241B1C;
}

.contacts-cont-wrapper .contact-ways {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.contacts-cont-wrapper .contact-ways .contact-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-cont-wrapper .contact-ways .contact-item span {
  color: #241B1C;
  width: 50%;
}

.contacts-cont-wrapper .contact-ways .contact-item :first-child {
  font-size: 20px;
  font-weight: 400;
}

.contacts-cont-wrapper .contact-ways .contact-item :last-child {
  font-size: 20px;
  font-weight: 300;
}

.contacts-cont-wrapper .maps {
  width: 45%;
}

#footer {
  background-image: url("../images/footer-banner.jpg");
  background-size: cover;
}

#footer .blur {
  padding: 0 !important;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.footer-cont-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.faq-wrapper {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.faq-title {
  color: #B7582A;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.faq-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
}

.faq-question-wrapper {
  border: 2px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 15px;
  cursor: pointer;
}

.faq-question-wrapper span {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

.faq-question-wrapper img {
  width: 25px;
  height: 25px;
}

.active-question {
  border-color: #B7582A;
}

.faq-answer-wrapper {
  padding: 0 15px;
}

.footer-nav-wrapper {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-nav-wrapper .nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 25px;
}

.footer-nav-wrapper .nav-wrapper .nav-title {
  color: #B7582A;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer-nav-wrapper .nav-wrapper .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0;
  cursor: pointer;
}

.footer-nav-wrapper .nav-wrapper .nav-item img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.footer-nav-wrapper .nav-wrapper .nav-item span {
  font-size: 20px;
  font-weight: 300;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.footer-nav-wrapper .nav-wrapper .nav-item a {
  text-decoration: none;
}

.footer-nav-wrapper .nav-wrapper .nav-item:hover span {
  color: #B7582A !important;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.footer-nav-wrapper .links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.footer-nav-wrapper .links-wrapper img {
  width: 50px;
}

.footer-triangle-trans {
  position: absolute;
  border-style: solid;
  border-width: 100px 1700px 0px 0px;
  border-color: transparent #B7582A transparent transparent;
  opacity: .5;
}

.footer-triangle {
  border-style: solid;
  border-width: 50px 40vw 25px 59vw;
  border-color: transparent rgba(183, 88, 42, 0.5) #B7582A #B7582A;
}

@media (max-width: 1440.78px) {
  header img {
    width: 70px;
  }
  header .nav-item {
    display: none !important;
  }
  .sec-content {
    padding: 5% 5% !important;
  }
  #hero {
    background-position: 25%;
  }
  .hero-wrapper .logo {
    font-size: 32px;
  }
  .hero-wrapper .desc {
    font-size: 20px;
  }
  .hero-wrapper .button-wrapper {
    margin-top: 20px;
  }
  .hero-wrapper .button-wrapper button {
    font-size: 14px;
    padding: 10px 25px;
  }
  .sec-title-wrapper {
    height: 70px;
  }
  .sec-title-wrapper .sec-title {
    width: 40%;
    height: 70px;
  }
  .sec-title-wrapper .sec-title span {
    font-size: 20px !important;
  }
  .sec-title-wrapper .triangle {
    border-width: 70px 70px 0 0;
  }
  .about-cont-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-cont-wrapper > div {
    width: 100% !important;
  }
  .about-cont-wrapper .txt-block {
    margin-top: 15px;
  }
  .about-cont-wrapper .txt-block .button-wrapper {
    margin-top: 10px !important;
  }
  .about-cont-wrapper .txt-block * {
    text-align: justify;
  }
  .blur {
    padding: 5% 5% !important;
  }
  .stat-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .stat-wrapper .stat-add {
    font-size: 40px;
  }
  .stat-wrapper .stat-desc {
    font-size: 16px !important;
  }
  .scnd-about-cont-wrapper img {
    width: 300px !important;
  }
  .courses-nav-item {
    font-size: 14px;
    padding: 7px;
  }
  .content-option {
    padding: 10px;
  }
  .courses-item {
    width: 100%;
    padding: 20px;
  }
  #it-club {
    display: none !important;
  }
  #mobile-it-club {
    display: block !important;
  }
  #mobile-it-club .txt-block {
    margin-top: 15px;
  }
  #mobile-it-club .txt-block .button-wrapper {
    margin-top: 10px !important;
  }
  #mobile-it-club .txt-block * {
    text-align: justify;
  }
  .feedback-cont-wrapper {
    padding: 5% !important;
  }
  .contacts-cont-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts-cont-wrapper > div {
    width: 100% !important;
  }
  .contacts-cont-wrapper .maps {
    height: 40vh;
  }
  .contacts-cont-wrapper .txt-block {
    margin-bottom: 0 !important;
  }
  .contacts-cont-wrapper .txt-block * {
    text-align: justify;
  }
  .contacts-cont-wrapper .contacts-txt-content {
    margin-bottom: 20px;
  }
  .contacts-cont-wrapper .contact-ways .contact-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacts-cont-wrapper .contact-ways .contact-item :first-child {
    width: 35%;
  }
  .footer-cont-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-cont-wrapper > div {
    width: 100% !important;
  }
  .footer-cont-wrapper .links-wrapper {
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */